<%= form_for(@latest_news) do |f| %>
  <% if @latest_news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@latest_news.errors.count, "error") %> prohibited this latest_news from being saved:</h2>

      <ul>
      <% @latest_news.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :NewsTitle %><br>
    <%= f.text_field :NewsTitle %>
  </div>
  <div class="field">
    <%= f.label :NewsContent %><br>
    <%= f.text_field :NewsContent %>
  </div>
  <div class="field">
    <%= f.label :NewsDate %><br>
    <%= f.text_field :NewsDate %>
  </div>
  <div class="field">
    <%= f.label :NewsTime %><br>
    <%= f.text_field :NewsTime %>
  </div>
  <div class="field">
    <%= f.label :user_id_id %><br>
    <%= f.text_field :user_id_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
