<h1>Listing latest_news</h1>

<table>
  <thead>
    <tr>
      <th>Newstitle</th>
      <th>Newscontent</th>
      <th>Newsdate</th>
      <th>Newstime</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @latest_news.each do |latest_news| %>
      <tr>
        <td><%= latest_news.NewsTitle %></td>
        <td><%= latest_news.NewsContent %></td>
        <td><%= latest_news.NewsDate %></td>
        <td><%= latest_news.NewsTime %></td>
        <td><%= latest_news.user_id %></td>
        <td><%= link_to 'Show', latest_news %></td>
        <td><%= link_to 'Edit', edit_latest_news_path(latest_news) %></td>
        <td><%= link_to 'Destroy', latest_news, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Latest news', new_latest_news_path %>
