<p id="notice"><%= notice %></p>

<p>
  <strong>Newstitle:</strong>
  <%= @latest_news.NewsTitle %>
</p>

<p>
  <strong>Newscontent:</strong>
  <%= @latest_news.NewsContent %>
</p>

<p>
  <strong>Newsdate:</strong>
  <%= @latest_news.NewsDate %>
</p>

<p>
  <strong>Newstime:</strong>
  <%= @latest_news.NewsTime %>
</p>

<p>
  <strong>User:</strong>
  <%= @latest_news.user_id %>
</p>

<%= link_to 'Edit', edit_latest_news_path(@latest_news) %> |
<%= link_to 'Back', latest_news_index_path %>
