<div class='container'>
<h1>Listing Club Contacts</h1>

<table class="table">
  <thead>
    <tr>
      <th>Contact Name</th>
      <th>Contact Role</th>
      <th>Contact Mobile Number</th>
  
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @club_contacts.each do |club_contact| %>
      <tr>
        <td><%= club_contact.ContactName %></td>
        <td><%= club_contact.ContactRole %></td>
        <td><%= club_contact.ContactMobileNum %></td>
       
        <td> <%= link_to('Show', club_contact, class: 'btn btn-sm btn-success') %></td>

        <td> <%= link_to   'Edit', edit_club_contact_path(club_contact) %></td>

       

       <td> <%= link_to('Destroy', club_contact,  method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger')  %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Club Contact', new_club_contact_path,  class: 'btn btn-sm btn-default' %>
</div>