<br>
<div class='container'>
<p id="notice"><%= notice %></p>

<table class="table">
	<tr>
<th><strong>Contact Name:</strong></th>
<th><strong>Contact Role:</strong></th>
<th><strong>Contact Mobile No:</strong></th></tr>
<tr>
<td><%= @club_contact.ContactName %></td>
<td><%= @club_contact.ContactRole %></td>
<td><%= @club_contact.ContactMobileNum %></td></tr>
</table>
<%= link_to 'Edit', edit_club_contact_path(@club_contact) %> |
<%= link_to 'Back', club_contacts_path %>
